/* Form.module.scss */
.form-background {
  background-image: url("../../assets/mobileBG.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container {
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container {
  position: absolute;
  top: -90%;
  left: -35%;
}
.form-field {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 15px 20px;
  font-size: 1.25rem;
  margin: 10px 0;
  width: 85%;
  max-width: 400px;
}
.tag-input {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.placeholder-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
}

.tag {
  background-color: #f4a261;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.6rem;
  margin: 0 5px 0 0;
  display: flex;
  align-items: center;
}

.tag-remove {
  margin-left: 5px;
  cursor: pointer;
}

/* react-datepicker 커스텀 스타일 */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 15px 20px;
  font-size: 1.25rem;
  margin: 10px 0;
  box-sizing: border-box; /* 박스 크기를 정확히 맞춤 */
}

.form-button {
  background-color: #9fd919;
  color: black;
  padding: 12px 50px; /* 버튼을 두껍고 길게 */
  font-size: 1rem; /* 글꼴 크기 조정 */
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-top: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;

  &:hover {
    background-color: #85b515;
  }
}

.form-header {
  display: flex;
  justify-content: left;
  height: 0%;
}
