/* Result.module.scss */
.result-background {
    background-image: url('../../assets/mobileBG.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 20px 0;
  box-sizing: border-box;
}

.result-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.result-info {
  color: white;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 30px;

  p{
    margin: 5px 0 5px 0;
  }
}

.result-button {
  background-color: #28CB07;
  color: white;
  padding: 12px 50px;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;

  &:hover {
    background-color: #23b107;
  }
}

.result-character {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-right: 70%;
}
